html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
}
section{
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
html{
    font-family: barlowReg;
}
h2,  .Slogo p{
    font-family: barlowConMed;
}
.secFirst{
    background-color: #78cf60;
}
.secAbout{
    background-color: #8CF16F;
}
.secShop{
    background-color: #FFEE7D;
}
.secCont{
    background-color: #FFBC36;
}
.Slogo{
    display: flex;
    flex-direction: column;
}
.Slogo img{
    width: 100%;
}
.line{
    content: "";
    width: 100%;
    height: 6px;
    background-color: #fff;
}
.Slogo p{
    font-size: 2em;
    text-align: center;
}
@media only screen and (min-width: 760px){
.Slogo{
    width: 500px;
}
}
